* {
    margin: 0;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    flex-direction: column;
    height: 100vh;
    /*margin: 1%; (можна добавити щоб було як на фото)*/
}

.up {
    height: 40%;
    width: 100%;
    background-color: #3c679a;
}

.center {
    height: 40%;
    width: 100%;
    padding: 1%;
}

.center div {
    height: 100%;
    width: 100%;
    background-color: #194b7a;
}

.down {
    height: 100%;
    width: 100%;
    background-color: #3c679a;
}

.c2 {
    margin: 0 1%;
}

.text {
    color: #ffffff;
    font-size: 50px;
}

