body {
    margin: 0;
}

h1 {
    font-size: 3vh;
    margin-top: 0;
}

p {
    font-size: 1.5vh;
    margin: 0;
}

#pink {
    padding: 0 5vw;
    background: pink;
}

#dark {
    background: black;
    color: white;
}

.stile {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5vw;
}