body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 1440px;
    height: 4500px;
    background-color: #cbc5c5;
    margin: 0 auto;
}

header {
    height: 72px;
    background: #263640;
    padding: 0 135px;
}

.logo p {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-left: 15px;
}

nav {
    gap: 40px;
}

header a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.getStarted {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background: #7591A3;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.top {
    background: #e5e5e7;
    height: 700px;
    position: relative;
}

.top img {
    position: absolute;
    right: 0;
    top: 0;
}

.text {
    padding-left: 135px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.text h1 {
    width: 608px;
    font-size: 60px;
    font-weight: 500;
    color: #263640;
    margin-top: 119px;
    margin-bottom: 31px;
}

.text p {
    height: 112px;
    width: 427px;
    font-size: 16px;
    font-weight: 500;
    color: #7591A3;
    margin: 0;
}

b {
    color: #263640;
}

.seeOurWork {
    width: 246px;
    height: 67px;
    border-radius: 5px;
    background: #263640;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 112px;
    border: none;
}

.center {
    height: 810px;
    background: white;
    padding: 150px 135px;

}

.over {
    width: 421px;
}

.over h2 {
    font-size: 48px;
    font-weight: 600;
    color: #263640;
    margin: 0;
}

.over p {
    font-size: 16px;
    font-weight: 400;
    color: #263640;
    margin-top: 8px;
}

.achievements {
    position: relative;
}

.icons {
    width: 600px;
    flex-wrap: wrap;
    position: absolute;
    right: -45px;
}

.icon {
    width: 250px;
    height: 100px;
}

.icon div h3 {
    font-size: 32px;
    margin: 0;
}

.icon div p {
    font-size: 16px;
    margin: 0;
}

.icon div {
    margin-left: 14px;
}
