body {
    margin: 0;
}

main {
    background: url("img/bec.png");
    background-size: cover;
}

.flex {
    display: flex;
    align-items: center;
}

.paragraf {
    color: #848895;
    font-family: Helvetica, sans-serif;
    font-size: 2vh;
    font-weight: 400;
    transition: 0.3s;
    margin: 0;
}

.paragraf:hover {
    color: white;
    transition: 0.3s;
}

.upper {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

button {
    width: 22vh;
    height: 6vh;
    border-radius: 5vh;
    border: none;
    color: #FFF;
    font-size: 1.8vh;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    transition: 0.5s;
    box-shadow: 1vh 1vh 1vh black;
}

/*===================================== HEADER ===================================================*/

header {
    justify-content: space-between;
    height: 8vh;
    padding: 0 17vw;
    background: black;
    position: sticky;
    top: 0;
    box-shadow: 1vh 1vh 1vh black;
    z-index: 100;
}

.Breakpoint {
    justify-content: center;
    height: 4vh;
    background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
    box-sizing: border-box;
}

.Breakpoint a {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.2vh;
    color: black;
    transition: 0.3s;
}

.Breakpoint a:hover {
    color: white;
    transition: 0.3s;
}

.logo {
    justify-content: center;
}

.logo img {
    height: 3vh;
    margin: 0 3vh;
}

nav {
    justify-content: center;
    gap: 6vh;
    margin-right: 3vh;
}


/*===================================== SECTION 1 ===================================================*/

.section1 {
    padding: 0 17vw;
    box-sizing: border-box;
}

.intro {
    justify-content: center;
    flex-direction: column;
    height: 72vh;
}

.tools {
    justify-content: flex-start;
    flex-direction: column;
    height: 16vh;
}

.tools p {
    color: #618ADC;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    margin: 0 0 5vh 0;
    /*text-shadow: 1vh 1vh 1vh black;*/
}

.tools__href {
    justify-content: space-evenly;
    width: 66vw;
}

.tools__href a img {
    height: 3vh;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 9vh;
    text-align: center;
    color: #ffffff;
    margin: 0;
    /*text-shadow: 0.3vh 0.3vh 1vh black;*/
}

h3 {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2.8vh;
    text-align: center;
    color: #ffffff;
    margin: 6vh 0;
    /*text-shadow: 1vh 1vh 1vh black;*/
}

.but1 {
    width: 27vh;
    background: linear-gradient(152deg, #8C01FA 0%, #000 100%);
}

.but1:hover {
    background: white;
    color: black;
    transform: translateY(-0.7vh);
    transition: 0.5s;
}

.but2 {
    margin-left: 1vh;
    border: 0.1vh solid #FFF;
    background: rgba(102, 146, 183, 0);
}

.but2:hover {
    background: white;
    color: black;
    transform: translateY(-0.7vh);
    transition: 0.5s;
}

/*===================================== SECTION 2 ===================================================*/

.section2 {
    padding: 10vh 17vw 0 17vw;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.join {
    display: flex;
    flex-direction: column;
    width: 33vw;
    padding: 9vh 0 0 3vh;
}

.numbers {
    display: flex;
    flex-direction: column;
    width: 33vw;
    gap: 10vh;
    padding: 0 3vh;
}

h2 {
    color: #FFF;
    font-family: Helvetica, sans-serif;
    font-size: 4.5vh;
    font-weight: 400;
    margin: 0;
    /*text-shadow: 1vh 1vh 1vh black;*/
}

.number {
    font-family: Helvetica, sans-serif;
    font-size: 14vh;
    font-weight: 400;
    margin: 0;
}

.large1 {
    background: linear-gradient(228deg, #19FB9B 0%, #8C01FA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.large2 {
    background: linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.large3 {
    background: linear-gradient(222deg, #00FFBD 0%, #025B8C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*===================================== SECTION 3 ===================================================*/

.section3 {
    padding: 8vh 17vw 0 17vw;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    gap: 2vh;
}

.colum1 {
    display: flex;
    flex-direction: column;
    width: 22vw;
    padding: 7vh 0 0 3vh;
}

.colum1 p {
    margin-top: 1vh;
}

.colum2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22vw;
    height: 82vh;
    padding-top: 7vh;
}

.colum3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22vw;
    height: 82vh;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    border: none;
    background: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(0.1vh);
    border-radius: 3vh;
    padding: 4vh;
    box-sizing: border-box;
    box-shadow: 1vh 1vh 1vh black;
}

.environment {
    color: #19FB9B;
    font-family: Helvetica, sans-serif;
    font-size: 2vh;
    text-decoration-line: underline;
}

.colum2 h2, .colum3 h2 {
    font-size: 3.2vh;
}

.h2__margin {
    margin-top: 3vh;
    position: relative;
    padding-left: 1.2vh;
}

.h2__margin::before {
    content: "";
    background: #f8eded;
    display: block;
    width: 1vh;
    height: 1vh;
    position: absolute;
    top: 0.2vh;
    left: 0;
    border-radius: 50%;
}

/*===================================== SECTION 4 ===================================================*/

.section4 {
    padding: 10vh 17vw 10vh 17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
}

.buildForGrowth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.buildForGrowth__items {
    list-style: none;
    display: flex;
    gap: 1.5vh;
    margin: 0;
    height: 6vh;
}

.buildForGrowth__item {
    justify-content: center;
    height: 100%;
    padding: 0 2.5vh;
    border-radius: 1.5vh;
    background: rgb(26, 26, 26);
    border: 0.3vh solid #1a1a1a;
    box-shadow: 1vh 1vh 1vh black;
    box-sizing: border-box;
}

.buildForGrowth__item:hover {
    border: 0.3vh solid #6b17b0;
}

.anybodies {
    display: flex;
}

.anybodies img {
    width: 50%;
}

.anybodies__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: rgb(26, 26, 26);
    width: 50%;
    gap: 2vh;
    padding: 5vh;
}

.anybodies__item h3 {
    text-align: start;
    margin: 0;
}

.anybodies__item a h3 {
    color: #A962FF;
}

.icons {
    justify-content: space-around;
    height: 13vh;
}

.icons__small {
    height: 30%;
}

.icons__large {
    height: 60%;
}

